page-following {
    .button-ios-light {
        color:gray;
        background-color: #f4f4f4;
    }
    .imgDiv{
        width: 36px;
        height: 36px;
        display: flex;
        align-content:flex-start;
        border: 1px solid transparent;
        border-radius: 50px;
        background-size: cover;
        background-position: center;
      }
}
