page-save-profile-img {
  
      .grid{
        padding: 0px;
      }
      .col{
        padding: 0;
      }
      .backBtnSaveImg{
        margin-top: 10%;
        width: 50%;
        
      }
    ion-list{
      height: 100%;
    }
    .list{
      margin:0
    }
    .profileImg img{
      margin: 1px auto;
    }
  
    .addImgTxt{
      text-align: center;
    }
   
  
  }
  