page-followers {
    .imgDiv{
        width: 36px;
        height: 36px;
        display: flex;
        align-content:flex-start;
        border: 1px solid transparent;
        border-radius: 50px;
        background-size: cover;
        background-position: center;
      }
    
}
